.header {

}

header {
  // background-color: #3fa5c3;
  float: left;
  width: 100%;
  background-image: none;
  box-shadow: none;
  margin: 0;
  z-index: 100;
  letter-spacing: .25px;
  // border-radius: 0;
  // border-style: none none solid none;
  // border: 1px solid #368EA8;
}
